.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{width:36.000000px;}
._6{width:38.688000px;}
._1{width:132.912000px;}
._3{width:143.568000px;}
._2{width:162.240000px;}
._4{width:175.632000px;}
._0{width:192.912000px;}
._8{width:419.952000px;}
._9{width:475.872000px;}
._7{width:850.608000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y29{bottom:44.981009px;}
.y28{bottom:65.679005px;}
.y27{bottom:86.377006px;}
.y26{bottom:107.075001px;}
.y25{bottom:127.773002px;}
.y24{bottom:148.471000px;}
.y23{bottom:169.168998px;}
.y22{bottom:189.866996px;}
.y21{bottom:210.565055px;}
.y20{bottom:231.263053px;}
.y1f{bottom:251.961051px;}
.y1e{bottom:272.659046px;}
.y1d{bottom:293.357047px;}
.y1c{bottom:314.055045px;}
.y1b{bottom:334.753043px;}
.y1a{bottom:355.451038px;}
.y19{bottom:376.149039px;}
.y18{bottom:396.847037px;}
.y17{bottom:417.545032px;}
.y16{bottom:438.243031px;}
.y15{bottom:458.941031px;}
.y14{bottom:479.639029px;}
.y13{bottom:500.337028px;}
.y12{bottom:521.035026px;}
.y11{bottom:541.733024px;}
.y10{bottom:583.129020px;}
.yf{bottom:603.827018px;}
.ye{bottom:624.525016px;}
.yd{bottom:645.223014px;}
.yc{bottom:665.921012px;}
.yb{bottom:686.619025px;}
.y32{bottom:698.567023px;}
.ya{bottom:707.317023px;}
.y31{bottom:712.366019px;}
.y9{bottom:728.015021px;}
.y8{bottom:756.045032px;}
.y7{bottom:772.144031px;}
.y6{bottom:788.243030px;}
.y30{bottom:795.160026px;}
.y2f{bottom:808.959022px;}
.y0{bottom:829.000000px;}
.y2e{bottom:829.657027px;}
.y5{bottom:842.077025px;}
.y4{bottom:857.945022px;}
.y2d{bottom:871.053023px;}
.y3{bottom:873.813025px;}
.y2{bottom:889.681025px;}
.y2c{bottom:891.751025px;}
.y1{bottom:905.549026px;}
.y2b{bottom:912.449025px;}
.y2a{bottom:933.147025px;}
.h5{height:32.507812px;}
.h2{height:33.351562px;}
.h3{height:37.593750px;}
.h4{height:37.925781px;}
.h1{height:87.000000px;}
.h0{height:1008.150024px;}
.w1{width:513.500000px;}
.w0{width:612.099976px;}
.x0{left:41.000000px;}
.x8{left:78.000000px;}
.xa{left:96.000000px;}
.x2{left:99.375000px;}
.x4{left:106.533001px;}
.xb{left:114.000000px;}
.x3{left:117.946003px;}
.x9{left:150.550003px;}
.x1{left:186.029003px;}
.x6{left:198.331997px;}
.x7{left:240.725002px;}
.x5{left:263.083004px;}
.xc{left:294.549999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{width:48.000000pt;}
._6{width:51.584000pt;}
._1{width:177.216000pt;}
._3{width:191.424000pt;}
._2{width:216.320000pt;}
._4{width:234.176000pt;}
._0{width:257.216000pt;}
._8{width:559.936000pt;}
._9{width:634.496000pt;}
._7{width:1134.144000pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y29{bottom:59.974679pt;}
.y28{bottom:87.572006pt;}
.y27{bottom:115.169341pt;}
.y26{bottom:142.766668pt;}
.y25{bottom:170.364002pt;}
.y24{bottom:197.961333pt;}
.y23{bottom:225.558664pt;}
.y22{bottom:253.155994pt;}
.y21{bottom:280.753407pt;}
.y20{bottom:308.350737pt;}
.y1f{bottom:335.948068pt;}
.y1e{bottom:363.545395pt;}
.y1d{bottom:391.142729pt;}
.y1c{bottom:418.740060pt;}
.y1b{bottom:446.337391pt;}
.y1a{bottom:473.934718pt;}
.y19{bottom:501.532052pt;}
.y18{bottom:529.129383pt;}
.y17{bottom:556.726710pt;}
.y16{bottom:584.324041pt;}
.y15{bottom:611.921375pt;}
.y14{bottom:639.518706pt;}
.y13{bottom:667.116037pt;}
.y12{bottom:694.713367pt;}
.y11{bottom:722.310698pt;}
.y10{bottom:777.505360pt;}
.yf{bottom:805.102690pt;}
.ye{bottom:832.700021pt;}
.yd{bottom:860.297352pt;}
.yc{bottom:887.894683pt;}
.yb{bottom:915.492034pt;}
.y32{bottom:931.422698pt;}
.ya{bottom:943.089364pt;}
.y31{bottom:949.821359pt;}
.y9{bottom:970.686695pt;}
.y8{bottom:1008.060042pt;}
.y7{bottom:1029.525374pt;}
.y6{bottom:1050.990706pt;}
.y30{bottom:1060.213367pt;}
.y2f{bottom:1078.612029pt;}
.y0{bottom:1105.333333pt;}
.y2e{bottom:1106.209370pt;}
.y5{bottom:1122.769367pt;}
.y4{bottom:1143.926695pt;}
.y2d{bottom:1161.404031pt;}
.y3{bottom:1165.084034pt;}
.y2{bottom:1186.241367pt;}
.y2c{bottom:1189.001367pt;}
.y1{bottom:1207.398701pt;}
.y2b{bottom:1216.598700pt;}
.y2a{bottom:1244.196033pt;}
.h5{height:43.343750pt;}
.h2{height:44.468750pt;}
.h3{height:50.125000pt;}
.h4{height:50.567708pt;}
.h1{height:116.000000pt;}
.h0{height:1344.200033pt;}
.w1{width:684.666667pt;}
.w0{width:816.133301pt;}
.x0{left:54.666667pt;}
.x8{left:104.000000pt;}
.xa{left:128.000000pt;}
.x2{left:132.500000pt;}
.x4{left:142.044001pt;}
.xb{left:152.000000pt;}
.x3{left:157.261337pt;}
.x9{left:200.733337pt;}
.x1{left:248.038671pt;}
.x6{left:264.442663pt;}
.x7{left:320.966670pt;}
.x5{left:350.777339pt;}
.xc{left:392.733332pt;}
}
