.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._b{width:1.680000px;}
._4{width:24.000000px;}
._1{width:31.968000px;}
._6{width:36.000000px;}
._2{width:101.376000px;}
._0{width:152.016000px;}
._a{width:160.080000px;}
._9{width:213.360000px;}
._5{width:218.688000px;}
._8{width:232.032000px;}
._7{width:262.704000px;}
._3{width:354.672000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:36.000000px;}
.fs3{font-size:40.000000px;}
.fs1{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:56.000000px;}
.y18{bottom:346.705009px;}
.y17{bottom:360.504020px;}
.y16{bottom:443.298026px;}
.y15{bottom:457.097037px;}
.y14{bottom:505.393024px;}
.y13{bottom:526.091025px;}
.y12{bottom:560.588035px;}
.y11{bottom:581.286033px;}
.y10{bottom:601.984031px;}
.yf{bottom:622.682029px;}
.ye{bottom:657.179038px;}
.yd{bottom:700.876029px;}
.yc{bottom:714.675025px;}
.yb{bottom:728.474021px;}
.ya{bottom:742.273032px;}
.y9{bottom:756.072028px;}
.y8{bottom:769.871024px;}
.y7{bottom:783.670020px;}
.y6{bottom:811.268027px;}
.y0{bottom:850.000000px;}
.y5{bottom:862.068027px;}
.y4{bottom:874.357023px;}
.y3{bottom:889.135024px;}
.y2{bottom:906.482025px;}
.y1{bottom:919.348025px;}
.h6{height:24.996094px;}
.h3{height:30.550781px;}
.h5{height:31.328125px;}
.h2{height:33.328125px;}
.h4{height:37.953125px;}
.h1{height:80.000000px;}
.h0{height:1008.150024px;}
.w1{width:530.000000px;}
.w0{width:612.099976px;}
.x0{left:41.000000px;}
.x8{left:42.549999px;}
.x4{left:116.882999px;}
.x2{left:122.002003px;}
.xb{left:132.549999px;}
.x5{left:157.657002px;}
.x1{left:194.378994px;}
.x3{left:219.630993px;}
.x6{left:222.549999px;}
.x7{left:258.549999px;}
.xa{left:294.549999px;}
.xc{left:312.549999px;}
.x9{left:330.549999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._b{width:2.240000pt;}
._4{width:32.000000pt;}
._1{width:42.624000pt;}
._6{width:48.000000pt;}
._2{width:135.168000pt;}
._0{width:202.688000pt;}
._a{width:213.440000pt;}
._9{width:284.480000pt;}
._5{width:291.584000pt;}
._8{width:309.376000pt;}
._7{width:350.272000pt;}
._3{width:472.896000pt;}
.fs4{font-size:48.000000pt;}
.fs3{font-size:53.333333pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:74.666667pt;}
.y18{bottom:462.273345pt;}
.y17{bottom:480.672026pt;}
.y16{bottom:591.064035pt;}
.y15{bottom:609.462716pt;}
.y14{bottom:673.857366pt;}
.y13{bottom:701.454700pt;}
.y12{bottom:747.450713pt;}
.y11{bottom:775.048044pt;}
.y10{bottom:802.645374pt;}
.yf{bottom:830.242705pt;}
.ye{bottom:876.238717pt;}
.yd{bottom:934.501372pt;}
.yc{bottom:952.900033pt;}
.yb{bottom:971.298695pt;}
.ya{bottom:989.697376pt;}
.y9{bottom:1008.096038pt;}
.y8{bottom:1026.494699pt;}
.y7{bottom:1044.893360pt;}
.y6{bottom:1081.690703pt;}
.y0{bottom:1133.333333pt;}
.y5{bottom:1149.424037pt;}
.y4{bottom:1165.809364pt;}
.y3{bottom:1185.513365pt;}
.y2{bottom:1208.642700pt;}
.y1{bottom:1225.797367pt;}
.h6{height:33.328125pt;}
.h3{height:40.734375pt;}
.h5{height:41.770833pt;}
.h2{height:44.437500pt;}
.h4{height:50.604167pt;}
.h1{height:106.666667pt;}
.h0{height:1344.200033pt;}
.w1{width:706.666667pt;}
.w0{width:816.133301pt;}
.x0{left:54.666667pt;}
.x8{left:56.733332pt;}
.x4{left:155.843999pt;}
.x2{left:162.669337pt;}
.xb{left:176.733332pt;}
.x5{left:210.209335pt;}
.x1{left:259.171992pt;}
.x3{left:292.841324pt;}
.x6{left:296.733332pt;}
.x7{left:344.733332pt;}
.xa{left:392.733332pt;}
.xc{left:416.733332pt;}
.x9{left:440.733332pt;}
}
