.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{width:88.080000px;}
._1{width:101.376000px;}
._5{width:130.704000px;}
._7{width:141.360000px;}
._0{width:152.016000px;}
._6{width:160.032000px;}
._4{width:202.704000px;}
._2{width:840.000000px;}
._3{width:924.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y1c{bottom:270.588004px;}
.y1b{bottom:284.387015px;}
.y1a{bottom:367.181022px;}
.y19{bottom:380.980033px;}
.y18{bottom:401.678031px;}
.y17{bottom:443.074027px;}
.y16{bottom:463.772025px;}
.y15{bottom:484.470023px;}
.y14{bottom:505.168021px;}
.y13{bottom:525.866019px;}
.y12{bottom:546.564017px;}
.y11{bottom:567.262015px;}
.y10{bottom:608.658011px;}
.yf{bottom:629.356040px;}
.ye{bottom:677.652030px;}
.yd{bottom:698.350028px;}
.yc{bottom:719.048026px;}
.yb{bottom:739.746024px;}
.ya{bottom:760.444022px;}
.y9{bottom:774.243018px;}
.y8{bottom:788.042029px;}
.y7{bottom:801.841025px;}
.y6{bottom:815.640021px;}
.y0{bottom:840.500000px;}
.y5{bottom:853.807029px;}
.y4{bottom:869.675025px;}
.y3{bottom:885.543025px;}
.y2{bottom:901.411025px;}
.y1{bottom:917.279025px;}
.h3{height:32.531250px;}
.h2{height:33.351562px;}
.h4{height:37.593750px;}
.h1{height:87.000000px;}
.h0{height:1008.150024px;}
.w1{width:530.000000px;}
.w0{width:612.099976px;}
.x0{left:41.000000px;}
.x5{left:42.549999px;}
.x2{left:107.725002px;}
.x4{left:114.882999px;}
.x7{left:150.549999px;}
.x1{left:194.378994px;}
.x3{left:230.048000px;}
.x9{left:258.549999px;}
.x8{left:294.549999px;}
.xa{left:312.549999px;}
.x6{left:330.549999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{width:117.440000pt;}
._1{width:135.168000pt;}
._5{width:174.272000pt;}
._7{width:188.480000pt;}
._0{width:202.688000pt;}
._6{width:213.376000pt;}
._4{width:270.272000pt;}
._2{width:1120.000000pt;}
._3{width:1232.000000pt;}
.fs0{font-size:64.000000pt;}
.y1c{bottom:360.784005pt;}
.y1b{bottom:379.182687pt;}
.y1a{bottom:489.574696pt;}
.y19{bottom:507.973377pt;}
.y18{bottom:535.570708pt;}
.y17{bottom:590.765369pt;}
.y16{bottom:618.362700pt;}
.y15{bottom:645.960031pt;}
.y14{bottom:673.557362pt;}
.y13{bottom:701.154692pt;}
.y12{bottom:728.752023pt;}
.y11{bottom:756.349354pt;}
.y10{bottom:811.544015pt;}
.yf{bottom:839.141387pt;}
.ye{bottom:903.536040pt;}
.yd{bottom:931.133371pt;}
.yc{bottom:958.730701pt;}
.yb{bottom:986.328032pt;}
.ya{bottom:1013.925363pt;}
.y9{bottom:1032.324024pt;}
.y8{bottom:1050.722706pt;}
.y7{bottom:1069.121367pt;}
.y6{bottom:1087.520028pt;}
.y0{bottom:1120.666667pt;}
.y5{bottom:1138.409372pt;}
.y4{bottom:1159.566700pt;}
.y3{bottom:1180.724033pt;}
.y2{bottom:1201.881367pt;}
.y1{bottom:1223.038700pt;}
.h3{height:43.375000pt;}
.h2{height:44.468750pt;}
.h4{height:50.125000pt;}
.h1{height:116.000000pt;}
.h0{height:1344.200033pt;}
.w1{width:706.666667pt;}
.w0{width:816.133301pt;}
.x0{left:54.666667pt;}
.x5{left:56.733332pt;}
.x2{left:143.633336pt;}
.x4{left:153.177333pt;}
.x7{left:200.733332pt;}
.x1{left:259.171992pt;}
.x3{left:306.730667pt;}
.x9{left:344.733332pt;}
.x8{left:392.733332pt;}
.xa{left:416.733332pt;}
.x6{left:440.733332pt;}
}
