.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{width:15.264000px;}
._a{width:18.000000px;}
._8{width:36.000000px;}
._b{width:80.064000px;}
._3{width:101.376000px;}
._1{width:115.968000px;}
._2{width:120.000000px;}
._0{width:152.016000px;}
._d{width:213.360000px;}
._5{width:218.688000px;}
._c{width:232.032000px;}
._e{width:245.424000px;}
._6{width:313.248000px;}
._7{width:612.000000px;}
._4{width:850.656000px;}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs3{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.y1c{bottom:229.868033px;}
.y1b{bottom:243.667045px;}
.y1a{bottom:326.461051px;}
.y19{bottom:340.260001px;}
.y18{bottom:402.355033px;}
.y17{bottom:436.852012px;}
.y16{bottom:457.550040px;}
.y15{bottom:478.248038px;}
.y14{bottom:498.946036px;}
.y13{bottom:519.644034px;}
.y12{bottom:540.342032px;}
.y11{bottom:574.839039px;}
.y10{bottom:595.537037px;}
.yf{bottom:616.235038px;}
.ye{bottom:636.933036px;}
.yd{bottom:664.531028px;}
.yc{bottom:678.330024px;}
.yb{bottom:692.129020px;}
.ya{bottom:705.928031px;}
.y9{bottom:719.727027px;}
.y8{bottom:733.526023px;}
.y7{bottom:747.325019px;}
.y6{bottom:774.923026px;}
.y0{bottom:828.000000px;}
.y5{bottom:848.269024px;}
.y4{bottom:860.558023px;}
.y3{bottom:875.336024px;}
.y2{bottom:892.683025px;}
.y1{bottom:905.549026px;}
.h6{height:25.013672px;}
.h3{height:30.572266px;}
.h5{height:31.328125px;}
.h7{height:33.351562px;}
.h4{height:37.953125px;}
.h2{height:38.910156px;}
.h1{height:88.000000px;}
.h0{height:1008.150024px;}
.w1{width:530.000000px;}
.w0{width:612.099976px;}
.x0{left:41.000000px;}
.x1{left:42.549999px;}
.x3{left:47.049999px;}
.x6{left:114.549999px;}
.x2{left:122.002003px;}
.x8{left:132.549999px;}
.x4{left:222.549999px;}
.x5{left:258.549999px;}
.x7{left:294.549999px;}
.x9{left:312.549999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{width:20.352000pt;}
._a{width:24.000000pt;}
._8{width:48.000000pt;}
._b{width:106.752000pt;}
._3{width:135.168000pt;}
._1{width:154.624000pt;}
._2{width:160.000000pt;}
._0{width:202.688000pt;}
._d{width:284.480000pt;}
._5{width:291.584000pt;}
._c{width:309.376000pt;}
._e{width:327.232000pt;}
._6{width:417.664000pt;}
._7{width:816.000000pt;}
._4{width:1134.208000pt;}
.fs4{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs3{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.y1c{bottom:306.490711pt;}
.y1b{bottom:324.889393pt;}
.y1a{bottom:435.281401pt;}
.y19{bottom:453.680002pt;}
.y18{bottom:536.473377pt;}
.y17{bottom:582.469349pt;}
.y16{bottom:610.066720pt;}
.y15{bottom:637.664051pt;}
.y14{bottom:665.261382pt;}
.y13{bottom:692.858713pt;}
.y12{bottom:720.456043pt;}
.y11{bottom:766.452052pt;}
.y10{bottom:794.049383pt;}
.yf{bottom:821.646717pt;}
.ye{bottom:849.244048pt;}
.yd{bottom:886.041370pt;}
.yc{bottom:904.440032pt;}
.yb{bottom:922.838693pt;}
.ya{bottom:941.237375pt;}
.y9{bottom:959.636036pt;}
.y8{bottom:978.034697pt;}
.y7{bottom:996.433358pt;}
.y6{bottom:1033.230701pt;}
.y0{bottom:1104.000000pt;}
.y5{bottom:1131.025365pt;}
.y4{bottom:1147.410698pt;}
.y3{bottom:1167.114699pt;}
.y2{bottom:1190.244034pt;}
.y1{bottom:1207.398701pt;}
.h6{height:33.351562pt;}
.h3{height:40.763021pt;}
.h5{height:41.770833pt;}
.h7{height:44.468750pt;}
.h4{height:50.604167pt;}
.h2{height:51.880208pt;}
.h1{height:117.333333pt;}
.h0{height:1344.200033pt;}
.w1{width:706.666667pt;}
.w0{width:816.133301pt;}
.x0{left:54.666667pt;}
.x1{left:56.733332pt;}
.x3{left:62.733332pt;}
.x6{left:152.733332pt;}
.x2{left:162.669337pt;}
.x8{left:176.733332pt;}
.x4{left:296.733332pt;}
.x5{left:344.733332pt;}
.x7{left:392.733332pt;}
.x9{left:416.733332pt;}
}
