.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:101.376000px;}
._0{width:152.016000px;}
._4{width:202.704000px;}
._6{width:213.360000px;}
._5{width:232.032000px;}
._7{width:245.424000px;}
._3{width:262.704000px;}
._2{width:924.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:48.000000px;}
.y1b{bottom:279.556022px;}
.y1a{bottom:293.355033px;}
.y19{bottom:376.149039px;}
.y18{bottom:389.948050px;}
.y17{bottom:410.646049px;}
.y16{bottom:452.042014px;}
.y15{bottom:472.740012px;}
.y14{bottom:493.438010px;}
.y13{bottom:514.136039px;}
.y12{bottom:534.834037px;}
.y11{bottom:555.532035px;}
.y10{bottom:576.230033px;}
.yf{bottom:617.626029px;}
.ye{bottom:638.324027px;}
.yd{bottom:686.620032px;}
.yc{bottom:707.318030px;}
.yb{bottom:728.016028px;}
.ya{bottom:748.714026px;}
.y9{bottom:762.513022px;}
.y8{bottom:776.312018px;}
.y7{bottom:790.111030px;}
.y6{bottom:803.910026px;}
.y0{bottom:829.000000px;}
.y5{bottom:842.077025px;}
.y4{bottom:857.945022px;}
.y3{bottom:873.813025px;}
.y2{bottom:889.681025px;}
.y1{bottom:905.549026px;}
.h4{height:32.437500px;}
.h2{height:33.351562px;}
.h3{height:37.593750px;}
.h1{height:87.000000px;}
.h0{height:1008.150024px;}
.w1{width:530.000000px;}
.w0{width:612.099976px;}
.x0{left:41.000000px;}
.x5{left:42.549999px;}
.x2{left:107.725002px;}
.x4{left:114.882999px;}
.x3{left:126.296001px;}
.x7{left:132.549999px;}
.x1{left:194.378994px;}
.x9{left:258.549999px;}
.x8{left:294.549999px;}
.xa{left:312.549999px;}
.x6{left:330.549999px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:135.168000pt;}
._0{width:202.688000pt;}
._4{width:270.272000pt;}
._6{width:284.480000pt;}
._5{width:309.376000pt;}
._7{width:327.232000pt;}
._3{width:350.272000pt;}
._2{width:1232.000000pt;}
.fs0{font-size:64.000000pt;}
.y1b{bottom:372.741362pt;}
.y1a{bottom:391.140044pt;}
.y19{bottom:501.532052pt;}
.y18{bottom:519.930734pt;}
.y17{bottom:547.528065pt;}
.y16{bottom:602.722685pt;}
.y15{bottom:630.320016pt;}
.y14{bottom:657.917347pt;}
.y13{bottom:685.514718pt;}
.y12{bottom:713.112049pt;}
.y11{bottom:740.709380pt;}
.y10{bottom:768.306711pt;}
.yf{bottom:823.501372pt;}
.ye{bottom:851.098703pt;}
.yd{bottom:915.493376pt;}
.yc{bottom:943.090707pt;}
.yb{bottom:970.688038pt;}
.ya{bottom:998.285369pt;}
.y9{bottom:1016.684030pt;}
.y8{bottom:1035.082691pt;}
.y7{bottom:1053.481373pt;}
.y6{bottom:1071.880034pt;}
.y0{bottom:1105.333333pt;}
.y5{bottom:1122.769367pt;}
.y4{bottom:1143.926695pt;}
.y3{bottom:1165.084034pt;}
.y2{bottom:1186.241367pt;}
.y1{bottom:1207.398701pt;}
.h4{height:43.250000pt;}
.h2{height:44.468750pt;}
.h3{height:50.125000pt;}
.h1{height:116.000000pt;}
.h0{height:1344.200033pt;}
.w1{width:706.666667pt;}
.w0{width:816.133301pt;}
.x0{left:54.666667pt;}
.x5{left:56.733332pt;}
.x2{left:143.633336pt;}
.x4{left:153.177333pt;}
.x3{left:168.394669pt;}
.x7{left:176.733332pt;}
.x1{left:259.171992pt;}
.x9{left:344.733332pt;}
.x8{left:392.733332pt;}
.xa{left:416.733332pt;}
.x6{left:440.733332pt;}
}
